body {
    background-color: #f9f9f9;
/*    margin-left: 27%;
    margin-right: 27%;*/
    font-family: "Courier New", Courier, monospace;
    text-align: justify;
}

@media (max-width: 900px) {
    .centering {
        margin-left: 16%;
        margin-right: 16%;
    }
}

@media (max-width: 600px) {
    .centering {
        margin-left: 7%;
        margin-right: 7%;
    }
}

p {
    /*font-family: "Courier New", Courier, monospace;*/
}

#poema {
    text-align: left;
    /*margin-right: 50%;*/
}

#title div,h1 {
    display: inline-block;
}

.centering {
    margin-right: 27%;
    margin-left: 27%;
}

.sidebar {
    position: fixed;
    width: 27%;
}

.right-sidebar {
    position: fixed;
    width: 27%;
    margin-left: 73%;
}

.right-sidebar h3 {
    text-align: center;
}

.right-sidebar a {
    text-align: center;
    display: block;
    margin: 5%;
}

.sidebar h3 {
    text-align: center;
}

.sidebar a {
    text-align: center;
    display: block;
    margin: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

.mark {
    display: inline;
    float: left;
    margin-left: 12%;
    padding: 0;
    opacity: 0.0;
    transition: all 0.7s;
}

.filter_kind {
/*    border: 1px;
    border-color: black;*/
}

#selection-border {
    position: absolute;
    color: rgba(1,1,1,0);
    border: 1px;
    border-color: #000;
    border-style: dashed;
    text-align: center;
    display: block;
    width: 60%;
    margin: 0%;
    margin-left: 20%;
    margin-right: 20%;
}

@media (max-width: 765px) {
    #selection-border {
        width: 90%;
        margin: 0%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.filter_link {
    height: auto;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

#entry-list-order {
    /*font-size: 10pt;*/
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-decoration: none;

}

#entry-list-order:hover {
    cursor: pointer;
}

.entry-title h2, .date {
    display: inline-block;
}

.entry-title .date {
    color: #808080;
    font-style: italic;
}

.resume {
    /*position: fixed;*/
    /*margin-left: 80%;*/
    /*margin-top: 40%;*/
}

.album {
    max-width: 40%;
    margin-bottom: 2em;
    /*min-width: 200px;*/
}

@media (max-width: 885px) {
    .album {
        max-width: 80%;
        /*min-width: 0px;*/
    }
}

@media (max-width: 440px) {
    .sidebar {
        /*visibility: hidden;*/
        display: none;
    }

    .right-sidebar {
        /*visibility: hidden;*/
        display: none;
    }

    .centering {
        margin-right: 5%;
        margin-left: 5%;
    }

    .album {
        max-width: 100%;
        /*min-width: 0px;*/
    }
}

.resume img {
    width: 20%;
    height: auto;
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
}