body {
    background-color: #f9f9f9;
    margin-left: 27%;
    margin-right: 27%;
    font-family: "Courier New", Courier, monospace;
    text-align: justify;
}

@media (max-width: 900px) {
    body {
        margin-left: 16%;
        margin-right: 16%;
    }
}

@media (max-width: 600px) {
    body {
        margin-left: 7%;
        margin-right: 7%;
    }
}

p {
    /*font-family: "Courier New", Courier, monospace;*/
}

#poema {
    text-align: left;
    /*margin-right: 50%;*/
}

#title div,h1 {
    display: inline-block;
}

#entry-list-order {
    /*font-size: 10pt;*/
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-decoration: none;

}

#entry-list-order:hover {
    cursor: pointer;
}

.entry-title h2, .date {
    display: inline-block;
}

.entry-title .date {
    color: #808080;
    font-style: italic;
}